@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    /* overflow: hidden; */
    background: linear-gradient(
                to right,
                #FF8000 0%, #FF8000 16.666%,
                #0000FF 16.666%, #0000FF 33.333%,
                #FF00FF 33.333%, #FF00FF 50%,
                #00FFFF 50%, #00FFFF 66.666%,
                #FF0000 66.666%, #FF0000 83.333%,
                #000000 83.333%, #000000 100%
            );
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-brand img{
    width: 180px;

}
.btn-home { background:#FFA500; }
.btn-live { background:#001DFF; }
.btn-featured { background:#FF0000; }
.btn-popular { background:#2EE6E6; }
.btn-about { background:#FF00FF; }
.btn-contact { background:#FFA000; }

.nav-item {
    width: 100px;
    text-align: center;
    font-weight: 600;
    margin-left: 10px;
    border-radius: 5px;
}
.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
.title a {
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.nav-link {
    color: white !important;
}

.login-grupe {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.live-now {
    width: 135px;
    border-radius: 15px;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: rgb(236, 6, 6);
    color: #fff;
}

.border {
    width: 25%;
    color: #08f0f0;
}

#videoCarousel video{
    width: 100%;
    height: 60vh;
    object-fit: cover;  
}

.box img{
    width: 100%;
    border-radius: 15px;
}
.img-box{
  display: inline-block;
  padding: 6px; /* border thickness */
  border-radius: 12px;
  background: linear-gradient(90deg, #00f5ff, #ffb703);
}
.img-box img{
  display: block;
  border-radius: 8px;
}
.custom-border {
    padding: 10px;
    border: 4px solid;
    border-radius: 12px !important;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(90deg, #01d8df, #ffb703);
    background: linear-gradient(90deg, #4A9CD2, #E58D50);
    overflow: hidden;
}


@media only screen and (max-width: 413px){
    #videoCarousel video{
        width: 100%;
        height: 30vh;
        object-fit: cover;  
    }

    .box h5, 
    .box p {
        font-size: 12px;
    }

}

/* login pages */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    margin: auto;
}

.boxs {
    position: relative;
    display: inline-block;
    padding: 6px; /* border thickness */
    border-radius: 12px;
    background: linear-gradient(90deg, #00f5ff, #ffb703);
}
.boxs .fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}
.boxs .fa-eye {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 25px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}
.boxs span {
    position: absolute;
    bottom: 15px;
    left: 60px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    opacity: 0.8;
    cursor: pointer;
}

/* Main slide box */
.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 5%;
}

/* Big Slide */
.slide-big {
    width: 65%;
    position: relative;
}

.slide-big img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
}

/* Icons */
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #fff;
}

.view-icon {
    position: absolute;
    left: 20px;
    bottom: 15px;
    color: white;
    font-size: 18px;
}

.view-text {
    position: absolute;
    left: 50px;
    bottom: 10px;
    color: white;
    font-size: 18px;
}

/* Small Slide Overlay Preview */
.slide-small {
    width: 35%;
    position: absolute;
    right: -10%;
    top: 8%;
}

.slide-small img {
    width: 100%;
    height: 50vh;
    border-radius: 12px;
    object-fit: cover;
}

.slide-small .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    border-radius: 12px;
}

/*  live   */
.lives {
    position: relative;
}
.lives .live {
    position: absolute;
    top: 10px;
    left: 20px;
    background: red;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

/* setting style */
.setting {
    background: linear-gradient(90deg, #4A9CD2, #E58D50);
    margin-left: 10px;
    border-radius: 12px; 
    padding: 20px;
    height: fit-content;

}
.setting h3 {
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    width: fit-content;
    border-bottom: 2px solid white;
}
.setting-menu ul {
    list-style: none;
    padding-top: 5px;
}
.setting-menu ul .nav-link {
    display: flex;
    width: 100%;
    max-width: 500px;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease;
}
.setting-menu ul .hover {
    width: 250px;
    padding: 0 10px;
    border-radius: 5px;
}
.setting-menu ul .hover:hover {
    background: rgba(10, 10, 10, 0.2);
    cursor: pointer;
}
.setting-menu ul .nav-link a {
    color: white;
    font-weight: 600;
    margin-left: 10px;
}
/* profile */
.profile {
    background: linear-gradient(90deg, #4A9CD2, #E58D50);
    padding: 20px;
    border-radius: 12px;
    color: white;
    /* width: fit-content; */
}
.profile h3 {
    font-weight: bold;
    padding-bottom: 10px;
    width: fit-content;
    border-bottom: 2px solid white;
}
.profile p {
    font-weight: 600;
}
.profile .user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
.profile .btn-user {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background: #FFA500;
    color: white;
    font-weight: bold;
    border: none;
}